@import './base.css';

/* Reset ---------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

/* Dark/lightmode ---------------------- */
body {
  background-color: var(--bg-primary-light);
  color: var(--font-color-light);
}
body.dark {
  background-color: var(--bg-primary-dark);
  color: var(--font-color-dark);
}

a {
  color: var(--font-color-light);
}
body.dark a {
  color: var(--font-color-dark);
}

/* Typography ---------------------- */
button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #3700b3;
}

/* Project-pages ---------------------- */
.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 0 20px;
}

.projectContainer img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

.projectContainer p {
  max-width: 100%;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  padding: 1rem;
  background-color: red;
}

.description {
  flex: 2;
}

.description h1 span {
  font-style: italic;
  font-weight: normal;
}

.description p {
  margin-top: 1rem;
  line-height: 1.6;
  
}

.details {
  display: flex;
  gap: 2rem;
  flex: 1;
  font-family: 'Arial', sans-serif;
}

.details ul {
  list-style: none;
  padding: 0;
}

.details li {
  margin-bottom: 0.5rem;
}

.details strong {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .project-container {
    flex-direction: row;
  }

  .projectContainer img {
    margin-bottom: 12rem;
    margin-top: 0.5rem;
  }
}
/* --------------------------- */

/* .projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
} */

/* 

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
