@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-primary-light);
  color: var(--font-color-light);
}
body.dark {
  background-color: var(--bg-primary-dark);
  color: var(--font-color-dark);
}

button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #3700b3;
}
a {
  color: var(--font-color-light);
}
body.dark a {
  color: var(--font-color-dark);
}

/* .projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  max-width: 100%;
  background-color: green;
} */

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: var(--font-color-secondary); */
  max-width: 100%;
  /* background-color: var(--bg-primary); */
  /* margin: 0 0.5rem; */
  padding: 0 20px;
}

.projectContainer img {
  max-width: 100%;
  height: auto;
}

.projectContainer p {
  max-width: 100%;
}

/* .projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
} */

/* 

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
